.templates {
    display: none !important;
}

html {
    overflow: auto;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

p, ul, li, span, b, strong, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 14px;
    border-radius: 4px;
}
::-webkit-scrollbar-track-piece {						/* Fond */
	background: transparent none;
	border: solid 6px transparent;
	border-right-width: 8px;
	margin: 6px;
}
::-webkit-scrollbar-track-piece:horizontal {				/* Fond pour la barre du bas */
	border-right-width: 4px;
	border-bottom-width: 8px;
}
::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgb(176,162,230), inset 0 0 0 6px rgb(176,162,230);
	-webkit-box-shadow: inset 0 0 0 1px #D4E157, inset 0 0 0 6px #D4E157;
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
	-webkit-box-shadow: inset 0 0 0 1px rgb(245,245,245), inset 0 0 0 6px rgb(245,245,245);
	-webkit-box-shadow: inset 0 0 0 1px #64FFDA, inset 0 0 0 6px #64FFDA;
}
::-webkit-scrollbar-thumb:horizontal {					/* Barre du bas */
	border-right-width: 0;
	border-bottom-width: 4px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px 9px;
	-webkit-border-bottom-left-radius: 5px 9px;
}

iframe {
    border: 0;
}


fieldset {
    background: rgba(40,40,40,0.2);
    border: none;
    color: #FFF;
    min-height: 100px;
    margin-bottom: 17px;
    padding: 20px;
    box-shadow: 2px 2px 30px rgba(24,100,255,0.05);
    margin-top: 30px;
    border: 2px solid #37474F;
    font-size: 16px;
}
    fieldset legend {
        background: #37474F;
        padding: 3px 10px;
        font-family: Exo;
        margin-left: 20px;
        border-radius: 2px;
        color: #F9FBE7;
        font-size: 16px;
    }
    fieldset ol li {
        list-style: circle;
        font-family: Roboto;
        color: #F9FBE7;
    }


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-family: Exo;
    font-family: Calibri;
    overflow-x: hidden;
    overflow-y: scroll;
}
    body > canvas {
        z-index: -1;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: rgb(33,33,33); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(33,33,33,1) 0%, rgba(4,34,53,1) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(33,33,33,1) 0%,rgba(4,34,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(33,33,33,1) 0%,rgba(4,34,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#042235',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    body > * {
        display: flex;
        flex-direction: inherit;
        position: relative;
    }

    .center-element {
        width: 80%;
        max-width: 900px;
    }

    @media screen and (max-width: 800px) {
        .center-element {
            width: 95%;
        }
    }

    body > header {
        height: 170px;
        flex-shrink: 0;
        margin: 30px 0;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-device-width: 480px) {
        body > header  {
            margin-top: 40px 0;
        }
    }

        body > header > h1 {
            font-size: 70px;
            font-family: Exo;
            line-height: 1;
            text-shadow: 1px 1px 10px #64FFDA;
        }

        body > header > span {
            font-size: 18px;
            color: #D4E157;
            font-weight: bold;
            text-shadow: 1px 1px 4px rgba(20,20,20,0.6);
            font-family: Exo;
        }

        @media screen and (max-width: 550px) {
            body > header > h1 {
                font-size: 50px;
            }
            body > header > span {
                font-size: 15px;
            }
        }

        @media screen and (max-device-width: 480px) {
            body > header > h1 {
                font-size: 13.5vw;
            }
            body > header > span {
                font-size: 5vw;
            }
        }
        
        body > header > section.social {
            display: flex;
            flex-shrink: 0;
            margin-top: 10px;
        }
            body > header > section.social img {
                width: 50px;
                height: 50px;
            }
            body > header > section.social a + a {
                margin-left: 10px;
            }

    body > main {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }
        body > main > h2 + section {
            margin-bottom: 30px;
        }
        @keyframes titleAnimation {
            from {
                color: #D4E157;
                border-color: #D4E157;
            }
            to {
                color: #C6FF00;
                border-color: #C6FF00;
            }
        }

        body > main > h2 {
            border-left: 5px solid #D4E157;
            border-right: 5px solid #D4E157;
            margin-bottom: 30px;
            font-family: Exo;
            border-radius: 20px;
            font-size: 30px;
            color: #D4E157;
            text-shadow: 1px 1px 10px rgba(198,255,0,0.6);
            text-align: center;
            width: 80%;
            align-self: center;
            padding: 5px 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc700+0,ffffff+100&0.19+0,0+100 */
            background: -moz-radial-gradient(center, ellipse cover,  rgba(255,199,0,0.19) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,199,0,0.19) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  rgba(255,199,0,0.19) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ffc700', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            box-shadow: 2px 2px 30px rgba(24,100,255,0.05);
            animation: titleAnimation 2s ease-in-out infinite alternate;
        }

            @media screen and (max-width: 550px) {
                body > main > h2 {
                    font-size: 24px;
                }
            }
            @media screen and (max-device-width: 480px) {
                body > main > h2 {
                    font-size: 30px;
                    padding: 15px 0;
                }
            }

        body > main > section strong {
            color: #D4E157;
        }
        body > main > section p {
            text-align: justify;
            color: #F9FBE7;
            text-shadow: 0px 1px 2px #333;
            font-family: Exo;
        }
            @media screen and (max-width: 550px) {
                body > main > section p {
                    font-size: 15px;
                }
            }

        body > main > section#hiring {
            flex-direction: column; 
        }

            body > main > section#hiring p {
                text-align: justify; 
            }

            body > main > section#hiring span.email {
                color: #64FFDA;
            }

        body > main > section > section.team {
            margin-left: -15px;
            margin-top: -15px;
            display: flex;
            flex-wrap: wrap;
        }

        @keyframes translate-from-left {
            from {
                transform: skew(10deg) translateX(-25%);
                opacity: 0;
            }
            to {
                transform: skew(5deg) translateX(0%);
                opacity: 1;
            }
        }
        @keyframes translate-from-right {
            from {
                transform: skew(-10deg) translateX(25%);
                opacity: 0;
            }
            to {
                transform: skew(-5deg) translateX(0%);
                opacity: 1;
            }
        }

        @keyframes to-minus-skew {
            from {transform: skew(0deg)}
            to {transform: skew(-5deg)}
        }
        @keyframes to-plus-skew {
            from {transform: skew(0deg)}
            to {transform: skew(5deg)}
        }

            body > main > section > section.team > section.user {
                flex-basis: 380px;
                flex-grow: 1;
                margin-left: 15px;
                margin-top: 15px;
                height: 100px;
                display: flex;
            }

                body > main > section > section.team > section.user:nth-child(even) {
                    animation: translate-from-right 1s ease-in-out forwards;
                    flex-direction: row-reverse;
                }

                    body > main > section > section.team > section.user:nth-child(even) > section.info > section.bar {
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,37474f+100&0+13,0+13,1+100 */
                        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(229,231,232,0) 13%, rgba(55,71,79,1) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(229,231,232,0) 13%,rgba(55,71,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(229,231,232,0) 13%,rgba(55,71,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#37474f',GradientType=1 ); /* IE6-9 */
                        margin-right: -2px;
                    }
                        body > main > section > section.team > section.user:nth-child(even) > section.info > h3 {
                            margin-left: auto;
                        }
                        body > main > section > section.team > section.user:nth-child(even) > section.info > strong {
                            margin-left: auto;
                        }
                        body > main > section > section.team > section.user:nth-child(even) > section.info > section.bar p {
                            margin-left: auto;
                            animation: to-plus-skew 1s ease-in-out forwards;
                        }

                body > main > section > section.team > section.user:nth-child(odd) {
                    animation: translate-from-left 1s ease-in-out forwards;
                }

                    body > main > section > section.team > section.user:nth-child(odd) > section.info > section.bar {
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#37474f+0,ffffff+100&1+0,0+87,0+87 */
                        background: -moz-linear-gradient(left,  rgba(55,71,79,1) 0%, rgba(229,231,232,0) 87%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left,  rgba(55,71,79,1) 0%,rgba(229,231,232,0) 87%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right,  rgba(55,71,79,1) 0%,rgba(229,231,232,0) 87%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37474f', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
                        margin-left: -2px;
                    }
                        body > main > section > section.team > section.user:nth-child(odd) > section.info > section.bar p {
                            animation: to-minus-skew 1s ease-in-out forwards;
                        }

                section.team > section.user > section.avatar {
                    width: 100px;
                    height: 100px;
                    background: #000;
                    border: 4px solid #37474F;
                    background: #37474F;
                    box-sizing: border-box;
                    flex-shrink: 0;
                    align-self: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    backface-visibility: hidden;
                    border-radius: 2px 2px 0 2px;
                    z-index: 2;
                    position: relative;
                }
                    section.team > section.user > section.avatar > img {
                        max-width: 110%;
                        height: auto;
                    }

                    @-moz-document url-prefix() {
                        section.team > section.user > section.avatar > img {
                            width: 100%;
                        }
                    }

                section.team > section.user > section.info {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                }
                    section.team > section.user > section.info > h3 {
                        font-size: 24px;
                        padding: 0 10px;
                        text-shadow: 1px 1px 10px #64FFDA;
                    }
                    section.team > section.user > section.info > strong {
                        font-size: 20px;
                        padding: 0 10px;
                        font-family: Exo;
                        color: #64FFDA;
                        text-shadow: 1px 1px 10px #37474F;
                    }

                        @media screen and (max-width: 700px) {
                            section.team > section.user > section.info > h3 {
                                font-size: 18px;
                            }
                            section.team > section.user > section.info > strong {
                                font-size: 17px;
                            }
                        }

                    section.team > section.user > section.info > section.bar {
                        height: 30px;
                        margin-top: auto;
                        display: flex;
                        align-items: center;
                        padding: 0 10px;
                        z-index: 1;
                    }
                        section.team > section.user > section.info > section.bar p {
                            font-family: Roboto;
                            font-weight: 300;
                            color: #ECEFF1;
                        }

                        @media screen and (max-width: 500px) {
                            section.team > section.user > section.info > section.bar {
                                height: 35px;
                            }
                            section.team > section.user > section.info > section.bar p {
                                font-size: 14px;
                            }
                        }

    body > footer {
        height: 50px;
        background: rgba(20,20,20,0.5);
        display: flex;
        width: 100%;
        flex-shrink: 0;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }